body {
  font-family: "Courier New", Courier, monospace;
}

.card {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: 20px auto 40px;
  padding: 20px;
  text-align: center;
  background-color: #e0e1dd;
  color: #1b263b;
  border-top: 6px solid #0d1b2a;
  border-bottom: 6px solid #0d1b2a;
  border-radius: 10px;
}

footer {
  text-align: center;
}
